---
import type { FormStatisticsData } from "@deepsel/cms-utils";
import FormStatisticsPage from "./components/FormStatisticsPage";
import Footer from "./components/Footer.astro";
import Head from "./components/Head.astro";
import "@mantine/core/styles.css";
import "@mantine/charts/styles.css";
import "@deepsel/cms-react/styles/form-statistics.css";
import "./main.css";

interface Props {
    data: FormStatisticsData;
}

const { data } = Astro.props;
---

<!DOCTYPE html>
<html lang={data.lang || 'en'} data-theme="paper">
<head>
    <Head />
    <title>Form Statistics</title>
    <meta name="robots" content="noindex, nofollow" />
</head>
<body>
    <div class="min-h-screen flex flex-col">
        <FormStatisticsPage client:load data={data} />
        <Footer siteName={data.public_settings?.name} />
    </div>
</body>
</html>
